<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Samsung Clone</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, address=no, email=no">

    <meta name="title" content="">
    <meta name="keywords" content="">
    <meta name="description" content="스">

    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- <link rel="shortcut icon" href="../../resources/front/images/common/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../../resources/front/images/common/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../resources/front/images/common/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../resources/front/images/common/favicon-16x16.png"> -->

    <link rel="stylesheet" type="text/css" href="../../resources/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/common.css">

    <script type="text/javascript" src="../../resources/js/jquery-3.5.1.min.js"></script>
</head>
<body>
    <p>Galaxy Stage</p>
    <h2>트렌드</h2>

    <p>Galaxy S21 5G가 나누고 싶은 힙한 컬처 콘텐츠들이 가득한 다양한 스테이지를 만나보세요.</p>
</body>
</html>